.outerContainer {
  scroll-behavior: smooth;
  background-color: "#0F0E0F";
  overflow-x: hidden;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
